ul {
    font-family: Arial, Verdana;
    font-size: 25px;
    margin: 0.5;
    padding: 0;
    list-style-type: none;
}

ul li {
    float: left;
    position: relative;
}

li ul {
    display: none;

}

ul {
    text-align: center;
    }
    
li {
    display: inline-block;
    }

ul li a {
    display: block;
    width: 277;
    text-decoration: none;
    color: white;
    text-align: center;
    border-top: 1px solid #ffffff00;
    padding: 10px 92.5px 10px 92.5px;
    background: #7f00ba;
    margin-left: 1px;
    margin-right: 1px;
    white-space: nowrap;
}

ul li a:hover {
    background: #7f00ba;
}

li:hover ul {
    display: block;
    position: absolute;
}

li li:hover a {
    float: none;
    color: black;
}

.poza {
    margin-left: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    width: 300;
    height: 300;
}